$body-bg: #fff;
$body-bg-dark: #1b1f22;
$theme-colors: (
  "primary": #0F0050,
  "secondary": #BEBEBE,
  "success": #35E286,
  "info": #FFC700,
  "warning": #DA35B0,
  "danger": #E2512D,
  "dark": #1E1E1E,
  "light": #F5F5F5,
  "body-bg": #fff,
  // Bootstrap extended colors
  "gray": $gray-500,
  "grey": $gray-500,
  "blue": $blue,
  "indigo":$indigo,
  "purple":$purple,
  "pink":$pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green":$green,
  "teal": $teal,
  "cyan":$cyan,
  // Custom colors
  "codeworks": #141d2b,
  "vue": #42b883,
);